{% include "group/_group_base.html" %}
{% block content %}

<div class="v242_0">
    <span class="v242_01">햇살 유치원</span>
    <span class="v242_02">9개 반
    </span>
    <span class="v242_03">필터</span>
</div>

<div class="v242_1">
    <span class="v242_11">검색</span>
</div>

<div class="v264_2">
    <div class = "v264_21">
        <div class="v262_211">
        </div>
        <div class="v242_212">돼지반</div>
    </div>

    <div class="v264_22">
        <div class="v262_211">
        </div>
        <div class="v242_212">돼지반</div>
    </div>

    <div class="v264_23">
        <div class="v262_211">
        </div>
        <div class="v242_212">돼지반</div>
    </div>
    

</div>

{% endblock %}