{% include "_base.html" %}

{% block content %}

{% if request.user.is_authenticated %}

<!-- request.user -->
<div class="ma-meals">
    <span class="ma-sub">오늘의 식사</span>
    <span class="more"><a>More</a></span>
    <div class="v264_217"></div>
    <div class="v264_218"></div>
    <div class="v264_220"></div>
    <div class="v264_221"></div>
    <div class="v264_219"></div>
</div>

<div class="ma-games">
    <span class="ma-sub">게임현황</span>
<span class="more"><a>More</a></span>
    <div class="game-status">
        <div class="game-profile"></div>
        <div class="game-info">
            <!-- <div style="padding-left: 3.5rem;">
                <div class="gmae-point">점수</div>
                <p class="to-carbohydrate">오늘의 탄수화물</p>
                <p class="to-protein">오늘의 단백질</p>
                <p class="to-fat">오늘의 지방</p>
                <p class="game-level">Lv. 2</p>

            </div>
            <div style="padding-left: 3.5rem;">
                <p class="gmae-name">RaRa</p>
                <p class="point-increase">1.3%</p>
                <p class="game-lavel-to"></p>
                <div class="game-lavel-bar"></div>
            </div> -->
            
            
            

        </div>
        

    </div>

</div>

</div>
<div style="margin: 7.5rem; padding: 7.5;">
</div>

{% endif %}

{% endblock %}